<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid Tracker</title>
<!--    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">-->
<!--    <link rel="stylesheet" href="{{url_for('static',filename='css/dark.css')}}">-->

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/dark.css">

    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
<!--    <script type="text/javascript" src="../static/js/bootstrap.js"></script>-->
    <script src="https://kit.fontawesome.com/eaf591811e.js" crossorigin="anonymous"></script>
</head>
<body>
<section class="head">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h2>Covid Tracker</h2>
                <div class="alert alert-success" role="alert">Country Selected {{country_name.upper()}}</div>
            </div>
            <div class="col-3">
                <p>Date: {{date}} (UTC±00:00)</p>
            </div>
            <div class="col-1">
                <input type="checkbox" class="checkbox" id="chk"/>
                <label class="label" for="chk">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <div class="ball"></div>
                </label>
            </div>
        </div>
        <div class="alert alert-info" role="alert">Not in {{country_name}}? Select from Below</div>
        <form action="/" class="form-text" method="GET">
            <div class="row mb-3">
                <div class="col-lg-10 col-md-10 col-sm-12">
                    <select name="select_country" class="form-select form-select-lg mb-4"
                            aria-label=".form-select-lg example">
                        <option value="{{country_name}}" selected>{{country_name}}</option>
                        {% for country in country %}
                        <option value="{{country}}">{{country}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <button style="width: 100%;" type="submit" class="btn btn-outline-primary btn-lg">Select</button>
                </div>
            </div>
        </form>
    </div>

</section>
<section class="body">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">Total Recovered WorldWide</h5>
                        <p class="card-text fw-bold lead text-center">{{world_total_recovered}}</p>
                        <p class="card-text recovered lead text-center">New Recovered: ↑{{world_recovered_new}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><p class="text-center">Last updated {{da}} at: {{ti}} (UTC±00:00)</p>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">Total Cases WorldWide</h5>
                        <p class="card-text fw-bold lead text-center">{{world_total_confirmed_cases}}</p>
                        <p class="card-text danger lead text-center">New Case: ↑{{world_total_confirmed_cases_new}}</p>
                        <p class="card-text text-warning text-center">Total Case Predicted for Tomorrow:
                            {{world_total_predicted_cases}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><p class="text-center">Last updated {{da}} at: {{ti}} (UTC±00:00)</p>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">Total Death WorldWide</h5>
                        <p class="card-text fw-bold lead text-center">{{world_total_death}}</p>
                        <p class="card-text danger lead text-center">New Death: ↑{{world_total_death_new}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><p class="text-center">Last updated {{da}} at: {{ti}} (UTC±00:00)</p>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">Total Active WorldWide</h5>
                        <p class="card-text fw-bold lead text-center">{{world_total_active}}</p>
                        <p class="card-text danger lead text-center">Serious Case: ↑{{world_total_serious}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><p class="text-center">Last updated {{da}} at: {{ti}} (UTC±00:00)</p>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="p-3"></div>
<section class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {{fig}}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="p-3 alert alert-success" role="alert">You have selected: {{country_name.upper()}}</div>
</section>
<section class="body">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">Total Recovered in {{country_name.upper()}}</h5>
                        <p class="card-text fw-bold lead text-center">{{country_total_recovered}}</p>
                        <p class="card-text recovered lead text-center">New Recovered: ↑{{country_recovered_new}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><p class="text-center">Last updated {{da}} at: {{ti}} (UTC±00:00)</p>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">Total Cases in {{country_name.upper()}}</h5>
                        <p class="card-text fw-bold lead text-center">{{country_total_cases}}</p>
                        <p class="card-text danger lead text-center">New Case: ↑{{country_cases_new}}</p>
                        <p class="card-text text-warning text-center">New Case Predicted for Tomorrow:
                            {{country_total_predicted_cases}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><p class="text-center">Last updated {{da}} at: {{ti}} (UTC±00:00)</p>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">Total Death in {{country_name.upper()}}</h5>
                        <p class="card-text fw-bold lead text-center">{{country_total_death}}</p>
                        <p class="card-text danger lead text-center">New Death: ↑{{country_death_new}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><p class="text-center">Last updated {{da}} at: {{ti}} (UTC±00:00)</p>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">Total Active in {{country_name.upper()}}</h5>
                        <p class="card-text fw-bold lead text-center">{{country_total_active}}</p>
                        <p class="card-text danger lead text-center">Serious Case: ↑{{country_total_serious}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><p class="text-center">Last updated {{da}} at: {{ti}} (UTC±00:00)</p>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="body">
    <div class="container">
        <div class=" p-2 mt-2 footer">
            <p class="text-center">&copy; NAHIDUJJAMAN HRIDOY</p>
            <p class="text-center">Data Provided By - <a
                    href="https://www.worldometers.info/coronavirus/">worldometer</a>, <a
                    href="https://coronavirus.jhu.edu/map.html">Johns Hopkins University</a> and <a
                    href="https://ourworldindata.org/coronavirus-source-data">Our World in Data</a></p>
        </div>
    </div>
</section>

<script>
    const chk = document.getElementById('chk');

    chk.addEventListener('change', () => {
        document.body.classList.toggle('light');
    });

</script>
</body>
</html>